<div class="jumbotron text-center" style="border:1px solid rgb(6, 6, 6);padding:20px;font-size:18px">
    <i><h1><font face = "Garamond" color="blue">ग्रंथालय</font></h1></i>
</div>

<center>
    <div class="container" style="font-size:20px">
        <div >
            <div>
                <b><font face="Garamond" color="grey">Registerd User : {{user_count}}</font></b>
            </div>
            <div>
                <b><font face="Garamond" color="grey">Books Available : {{book_count}}</font></b>
            </div>
            <div>
                <b><font face="Garamond" color="grey">Genres Available {{genre_count}}</font></b>
            </div>
        </div>
    </div>
</center>
<br>
<center>
    <div>
        <img src="https://2.bp.blogspot.com/-LYnWyYk04gg/XCuiF0B9faI/AAAAAAAAHrA/8FLfzfixoQMck2QgNcwaxDkCIk_aIZKOgCPcBGAYYCw/s1600/Quote-3.png" height="300px" width="300px">
        <img src="https://4.bp.blogspot.com/-W4EHvuRiOKM/XHL0ciUKJWI/AAAAAAAAHzU/13jW3LU4lRYjsr78X7sqSOnpt4wtiX-NgCLcBGAs/s1600/Quote-4.png" height="300px" width="300px">
        <img src="https://2.bp.blogspot.com/-tzv0Rxqhls8/XBVCeYD7zSI/AAAAAAAAHqQ/3-v-EgmPJ1Y-V7jDEiZ80__dQ04w6-_gwCPcBGAYYCw/s1600/Quote-2.png" height="300px" width="300px">
        <img src="https://3.bp.blogspot.com/-cAb7m_ai2mY/XNbEjgkkwGI/AAAAAAAAH-Q/5n0M2vfU8gc3EhcWUedpROOPzbR2R1mewCPcBGAYYCw/s1600/Quote-11.png" height="300px" width="300px">
        <img src="https://4.bp.blogspot.com/-ZcZVtvH_lUU/XIQFvk15LeI/AAAAAAAAH1E/kt6uSONfLTsYR0p7igBVKqG4YImnKTVeACPcBGAYYCw/s1600/Quote-7.png" height="300px" width="300px">
    </div>
</center>